{% extends 'partials/layout/base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Blog</h2>
                        <div class="bt-option">
                            <a href="./home.html">Home</a>
                            <span>Blog Grid</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog-section blog-page spad">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item set-bg" data-setbg="{{blog.image.url}}">
                        <div class="bi-text">
                            <span class="b-tag">{{blog.title}}</span>
                            <h4><a href="#">{{blog.title}}</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                
            </div>
        </div>
    </section>
    <!-- Blog Section End -->


{% endblock content %}

