{% extends 'partials/layout/base.html' %}
{% load static %}
{% block content %}

 <!-- Breadcrumb Section Begin -->
 <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a href="/">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="{{post_room.image.url}}" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>{{post_room.title}}</h3>
                            <div class="rdt-right">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <a href="#">Booking Now</a>
                            </div>
                        </div>
                        <h2>{{post_room.price}}$<span>/Pernight</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Size:</td>
                                    <td>{{post_room.size}} ft</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Capacity:</td>
                                    <td>{{post_room.capacity}} 5</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Bed:</td>
                                    <td>{{post_room.bed}}</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, Television, Bathroom,...</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="f-para">{{post_room.content}}
                        </p>
                    </div>
                </div>

                <div class="rd-reviews">
                    {% if comments %}
                    <h4>Reviews</h4>
                    
                   
                       <h5> Comment{{ comments.count|pluralize }}
                        <span class="badge badge-dark ml-2">{{ comments.count }}</span></h5>
                        <hr>
                        <br>
                      
                    {% endif %}
                    {% for comment in comments %}
                    <div class="review-item">
                        
                        <div class="ri-pic">
                            <img src="{% static 'img/avatar.svg' %}" alt="">
                        </div>
                        <div class="ri-text">
                            <span>{{ comment.created }}</span>
                            
                            <h5>{{ comment.name }}</h5>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% for message in messages %}
                        <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="True">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                        </div>
                        {% endfor %}

                <div class="review-add">
                    <h4>Add Review</h4>
                    <form  class="ra-form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name*" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="id_name"
                                name="name" value="{{ form.name.value|default:'' }}">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email*" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_email" name="email" value="{{ form.email.value|default:'' }}">
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <h5>You Rating:</h5>
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                </div>
                                <textarea placeholder="Your Review" class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content" name="content" rows="4"{{ form.content.value|default:'' }}></textarea>
                                <button type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Your Reservation</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in" name="check_in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out" name="check_out" >
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest" name="guest" >
                                {% for reservation in reservation %}
                                <option value="{{reservation.guest}}">{{reservation.guest}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <input class="form-control" type="text" value="{{post_room.title}}" name="room">   
                        </div>

                        <div class="select-option">
                            <label for="room">Name:</label>
                            <input class="form-control" type="text" value="" name="name_user">   
                        </div>
                        <div class="select-option">
                            <label for="room">Phone:</label>
                            <input class="form-control" type="text" value="" name="phone_number">   
                        </div>
                        <div class="select-option">
                            <label for="room">Email:</label>
                            <input class="form-control" type="text" value="" name="email_user">   
                        </div>

                        <button type="submit">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->

{%endblock%}